/* quelle police utiliser ? see avec helene */
.all-tours h1{
    text-align: center;
}

.filters {
    text-align: center;
}

.filters-thematics {
    display: flex;
    justify-content: center;
}

.thematic {
    padding: 10px 10px;
}

.thematic:hover {
    background: rgb(165, 191, 238);
    /* transition:  */
}

.thematic.isSelected {
    background: rgb(103, 115, 138);
}
