
.title {
  font-size: 4.5rem;
}

.title,
.description {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-bottom: 30px;
}


.description {
  color: white;
  font-size: 2rem;
  left: 5px;
}