
.title {
  font-size: 4.5rem;
}

.title,
.description {
  text-shadow: rgb(10, 10, 9) 5px 0 50px;
  position: relative;
}


.carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-bottom: 30px;
}


.description {
  color: white;
  font-size: 2rem;
  left: 5px;
}