.title {
  font-size: 4.5rem;
}

.title,
.description {
  position: relative;
  z-index: 10;
  color: white !important;
  text-shadow: 2px 2px 5px rgba(27, 21, 21, 0.5);
}

.baseline {
  right: 0 !important;
  left: 0 !important;
  width: 100% !important;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-bottom: 30px;
}

.description {
  color: white;
  font-size: 2rem;
  left: 5px;
}
