.form {
    width: 40%
}

.container-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fa-chevron-right {
    padding-right: 5px;
    color: #FFCC99;
    font-size: 14px;
}

.container-btn-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

.container-links {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #003366
}

.links {
    color: #003366
}