.form {
  width: 40%;
}
/* above : deleted by helene. To fix. */

.container-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fa-chevron-right {
  padding-right: 5px;
  color: #fe4e6e;
  font-size: 14px;
}


::placeholder {
  color:  rgb(184, 178, 178) !important;
}

.container-btn-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.div-links {
  display: flex;
  flex-direction: column;
}

.container-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #003366;
  margin-bottom: 30px;
}

.links {
  color: #003366;
}

.links:hover {
  color: #3d6892;
}

