@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

body {
    color: #212120;
    color: rgb(65, 64, 64);
    margin: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 150px;
    height: 90vh;;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


#bg-img {
    width: 100%
}


.container-img {
    height: 500px;
}


/*ASIDE*/

.aside-infos > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 15px;
}

.fa-users {
    padding: 0 !important;
    margin-left: 0 !important;
}

aside {
    border-radius: 3px;
    width: 20%;
    border: 1px solid #e8ecec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    margin-left: 50px;
}

.fa-user {
  font-size: 18px;
  margin-left: 0 !important;
}

.main-aside {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container-conditions {
    display: flex;
    flex-direction: column;
}

.container-participants {
    margin-bottom: 10px;
}

.container-conditions > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.form-participants {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

select {
    box-shadow: 0 0 0 !important;
    font-size: 16px !important;
    min-height: 50px;
    width: 60px;
    border: solid 1px #e8e8e8;
    color:#999;
    margin-right: 10px;
    margin-left: 10px;
    text-align-last:center;
}

.container-overview > i {
    margin-left: 10px;
}

#spots-left {
    color: red;
}
  

.fa-check {
    color:#fe4e6e
}

.fas, .far {
    margin-right: 10px !important;
    margin-left: 0px !important;
}


.date {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: baseline;
    padding-top: 10px;
}

.btn-cart {
 margin: 15px 0 0;
 background: #3f7ac0 !important;
 color: white !important;
 border: none !important;
 border-radius: 4px;
 padding: 10px !important;
 width: 120px;
}

#tour-name {
   padding: 20px;
   color: white;
   font-size: 4rem;
   display: flex !important;
   justify-content: flex-start !important;
    text-shadow: 0px 2px 2px rgba(5, 5, 5, 0.8); 
    width: 60%;
    text-align: left !important;
    margin-left: 50px;
  }



/* MAIN CONTENT*/

.fa-map-marker-alt, .fa-binoculars, .check, .fa-check, .fa-users, .fa-euro-sign, .fa-clock, .fa-globe-asia, .fa-user, .fa-clipboard-list {
    color: #3f7ac0;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.all-sections {
    width: 50%;
}

option {
    text-align: center;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #e8ecec;
    display: flex;
    flex-direction: column;
}

h5 {
    padding-bottom: 15px;
}

.containers-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
}

.container-overview > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 5px;
    padding-top: 8px;
}

.container-btn {
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
}

.fa-check {
    margin-left: 0 !important;
}

h2 {
    font-size: 1.3rem;
    padding: 15px 0;
    font-weight: 600;
    margin: 0 !important;
}

.h2-title {
   background: linear-gradient(to top, #f1f1f1 0%, #ffffff);
   width: 100%;
  
   display: flex;
   justify-content: center;
   align-items: center;
}

.form-elements {
  padding: 15px;
}

#main-infos {
    background: #fbfbfb;
}

section {
    margin-bottom: 20px;
}


