.tour-card-plus {
  width: 70%;
  margin: 20px auto;
  -webkit-box-shadow: -1px 21px 28px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -1px 21px 28px 0px rgba(0, 0, 0, 0.35);
  box-shadow: -1px 4px 30px 0px rgba(0, 0, 0, 0.35);
}

.tour-card-plus img {
  display: block;
  height: 200px;
}

.tour-card-plus-title {
  color: white;
  text-align: center;
  background: #3f7ac0;
  padding: 10px;
  margin-bottom: 0px !important;
}

.tour-card-plus-WO-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.infos-tour {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.group-info-img {
  display: flex;
  flex-direction: row;
}

.infos-tour .btn {
  padding: 5px 10px;
  border-radius: 10px;
  position: relative;
  margin-top: 10px;
  background: rgb(221, 75, 99) !important;
}

.infos-tour p {
  margin-bottom: 0px;
}

.fas {
  margin: 0 8px;
  padding: 0px;
}

.fa-coins,
.fa-comments {
  color: #3f7ac0;
}

.thematics {
  display: inline-block !important;
  font-size: 18px;
  padding-bottom: 3px;
  border-bottom: solid #3f7ac0;
}

.info-icons {
  margin-top: 10px;
}

.gmap-canvas {
}

.img-container-card-plus {
  width: 300px;
  overflow: hidden;
}
