* {
  margin: 0;
  padding: 0;
}

/* NavBar */

#logo-paris {
  height: 60px;
  padding-right: 10px;
}

.dropdown {
  color: black;
  text-decoration: none !important;
}

.dropdown-item {
  color: black;
  text-decoration: none !important;
}

.nav-link {
  color: rgb(43, 39, 39);
  text-decoration: none;
}

.container-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.container-nav-right {
  display: flex;
  flex-direction: row;
}

.container-nav-left {
  display: flex;
  flex-direction: row;
}

/*Button*/
.btn {
  background: #3399FF !important;
  color: white !important;
  border: none !important;
  width: 80px;
  margin-bottom: 10px;
}

.btn-delete {
background: #E53A40 ! important;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.container-footer > p {
  margin: 0 !important;
}