@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Caveat|Kalam|Kaushan+Script|Marck+Script|Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
/*Bleu: 4d80e4*/
/*Rose: #fe4e6e*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

/* NavBar */


#logo-paris {
  height: 50px;
  padding: 0 16px;
}

.nav {
  padding: 0 !important;
}

.dropdown, .dropdow-item {
  color: black;
  text-decoration: none !important;
}

.dropdown-item.active {
  background: #fe4e6e !important;
}

.nav-link {
  color: rgb(43, 39, 39) !important;
  text-decoration: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#basic-navbar-nav {
  padding: 8px 0 0 0;
}

.container-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 10px;
}

.container-nav-right {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
}

.container-nav-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/*RATING*/

/* .rating {
  width: 226px;
  margin: 0 auto 1em;
  font-size: 45px;
  overflow:hidden;
}

.rating a {
  float:right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
  color: orange;
  cursor: pointer;
}
.rating2 {
  direction: rtl;
}
.rating2 a {
  float:none
} */


/*Button*/
.btn {
  background: #fe4e6e !important;
  color: white !important;
  border: none !important;
  width: 80px;
  margin-bottom: 10px;
}

.fa-window-close {
color: rgb(82, 76, 76)!important;
font-size: 20px;
cursor: pointer;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  height: 300px;
  border-top: 1.5px solid #ddd;
}

.container-footer {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.container-footer > p {
  margin: 0 !important;
}

